layout {

    focus-ring {
        active-color   "#ffb1c1"
        inactive-color "#181213"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb1c1"
        inactive-color "#181213"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb1c1"
        inactive-color "#af5e71"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb1c180"
    }
}

recent-windows {
    highlight {
        active-color "#ffb1c1"
        urgent-color "#ffb4ab"
    }
}
